* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f8f9fa;
}

header {
    width: 100%;
    height: 80px;
    background-color: #9dd629;
    border-bottom: 3px solid #1111;
}

.section-header {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#image-logo {
    width: 100%;
    height: 100%;
}

#image-logo img {
    width: 250px;
    height: 70px;
    margin-left: 30px;
}

#header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header-links a {
    margin: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: #9dd629;
}

.container {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    border-bottom: 1px solid #111;
    margin-top: 30px;
    height: auto;
}

#sobre h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#sobre p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#sobre button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #9dd629;
}

#sobre button a {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

#contato h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#contato p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#contato button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #9dd629;
}

#contato button a {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

.footer {
    margin-top: 30px;
    height: 62px;
    position:absolute;
    bottom: 0 auto;
    width:100%;
    background-color: #9dd629;
}

.footer p {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footer a {
    margin-left: 10px;
}