.incluirTarefa {
    display: flex;
    margin: 15px 0;
    width: 100%;
    flex-direction: row;
}

.incluirTarefa input {
    height: 2.5em;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444;
    color: #eee;
}

.incluirTarefa .botao {
    margin-left: .6em;
}