* {
    padding: 0;
    margin: 0;
}

button {
background-color: yellow;
}

#botaoLimpar {
    display: flex;
}

.campo {
    height: 15px;
    width: 15px;
    background-color: #CCCCCC;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.marcado {
    background-color: rgb(228, 91, 13);
    border-style: inset
}