.externalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 2em;
    border: 2px solid chartreuse;
    border-radius: 10px;
}

.externalCardContent {
    width: 90%
}

.externalCard h1 {
    display: inline-block;
    margin: .5em 0 .3em;
    flex: 2;
}

.externalCard span {
    flex: 1;
    text-align: center;
}

.externalCardContent div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}